[submodule "rust-graphics"]
	path = rust-graphics
	url = https://github.com/PistonDevelopers/rust-graphics
[submodule "rust-sdl2"]
	path = rust-sdl2
	url = https://github.com/PistonDevelopers/rust-sdl2.git
[submodule "glfw-rs"]
	path = glfw-rs
	url = https://github.com/PistonDevelopers/glfw-rs.git
    branch = fix_20140602
[submodule "gl-rs"]
	path = gl-rs
	url = https://github.com/PistonDevelopers/gl-rs
[submodule "hgl-rs"]
	path = hgl-rs
	url = https://github.com/PistonDevelopers/hgl-rs.git
[submodule "rust-png"]
	path = rust-png
	url = https://github.com/PistonDevelopers/rust-png.git
[submodule "piston"]
	path = piston
	url = https://github.com/PistonDevelopers/piston.git
[submodule "rust-image"]
	path = rust-image
	url = https://github.com/PistonDevelopers/rust-image.git
[submodule "rust-sdl2_mixer"]
	path = rust-sdl2_mixer
	url = https://github.com/PistonDevelopers/rust-sdl2_mixer.git
